# .clang-format
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

AlwaysBreakBeforeMultilineStrings: true
AlignAfterOpenBracket: BlockIndent
BreakStringLiterals: false

BinPackArguments: false
BinPackParameters: false

DerivePointerAlignment: false
PointerAlignment: Left

SortIncludes: true

SpaceBeforeParens: ControlStatements

AlwaysBreakTemplateDeclarations: Yes
SpacesInAngles: false
